.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 500px;
  margin: 20px auto;
}

.edit-form {
  max-width: 500px;
  margin: 20px auto;
}

.profile-image {
  height: 100px;
}